* {
  margin: 0;
  padding: 0; }

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%; }

body {
  background-color: #231f20; }

h1,
h2,
h3,
h4,
h5 {
  color: #8c7c80;
  font-family: "Source Sans Pro Black";
  font-weight: 400; }

p {
  color: white;
  font-family: "PT Serif";
  font-size: 15px;
  line-height: 33px;
  margin-bottom: 33px; }

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro Extra Light"; }

button:focus {
  outline: none; }

.x {
  background-image: url("../images/big-x.png");
  cursor: pointer;
  position: absolute;
  top: 88px;
  right: 44px;
  width: 100px;
  height: 100px; }

.modals {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .modals.show {
    display: block; }
  .modals article.about {
    background-color: #231f20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .modals article.about .about-guts {
      overflow-y: auto;
      width: 100%;
      height: 100%; }
      .modals article.about .about-guts section {
        margin-top: 44px;
        margin-left: 44px;
        width: 600px; }
        .modals article.about .about-guts section:first-child {
          margin-top: 88px; }
        .modals article.about .about-guts section:last-child {
          margin-bottom: 44px; }
        .modals article.about .about-guts section h1 {
          font-size: 44px;
          letter-spacing: 2.2px;
          text-transform: uppercase; }
    .modals article.about.hide {
      display: none; }

header.primary-header {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  z-index: 3; }
  header.primary-header h1 {
    color: #8c7c80;
    font-size: 22px;
    line-height: 44px;
    padding-left: 44px;
    text-transform: uppercase; }
  header.primary-header nav {
    position: absolute;
    top: 0;
    right: 44px;
    width: 200px; }
    header.primary-header nav button {
      color: #8c7c80;
      float: right;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      margin-left: 22px;
      margin-top: 11px;
      text-transform: uppercase;
      height: 22px;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      header.primary-header nav button.discourage {
        opacity: .5; }

.stream-wrapper {
  overflow: hidden;
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: calc(100% - 44px); }
  .stream-wrapper .stream-modals {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    .stream-wrapper .stream-modals .blur {
      background-image: -webkit-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 50%, black 100%);
      background-size: 100% 100%;
      opacity: .1;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .stream-wrapper nav.minimap {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -150px;
    width: 172px;
    height: 100%;
    z-index: 2;
    -webkit-transition: all 500ms;
    transition: all 500ms; }
    .stream-wrapper nav.minimap .minimap-background-color {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      -webkit-transition: opacity 500ms;
      transition: opacity 500ms; }
    .stream-wrapper nav.minimap ol {
      overflow: scroll;
      padding-top: 44px;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
      .stream-wrapper nav.minimap ol li {
        color: white;
        font-family: "Source Sans Pro Black";
        font-size: 11px;
        list-style: none;
        line-height: 11px;
        margin-left: 22px;
        margin-bottom: 11px;
        text-transform: uppercase; }
        .stream-wrapper nav.minimap ol li.minimap-interlude {
          color: #00aeef; }
        .stream-wrapper nav.minimap ol li.minimap-year {
          color: white;
          font-family: "Source Sans Pro Extra Light";
          font-size: 11px;
          margin-top: 11px;
          text-align: center; }
    .stream-wrapper nav.minimap:hover, .stream-wrapper nav.minimap.faux-hover {
      right: 0; }
      .stream-wrapper nav.minimap:hover .minimap-background-color, .stream-wrapper nav.minimap.faux-hover .minimap-background-color {
        opacity: 1; }
  .stream-wrapper .stream {
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .stream-wrapper .stream .year-marker {
      margin-bottom: 22px;
      margin-top: 88px; }
      .stream-wrapper .stream .year-marker h1 {
        color: #463e40;
        margin-left: 44px; }
    .stream-wrapper .stream .pane {
      position: relative;
      width: 100%;
      height: 100%; }
      .stream-wrapper .stream .pane.narration h1 {
        font-size: 88px;
        line-height: 88px;
        margin-left: 44px;
        margin-top: -176px;
        position: absolute;
        top: 50%;
        height: 88px;
        text-transform: uppercase; }
      .stream-wrapper .stream .pane.narration h2 {
        color: #463e40;
        font-size: 22px;
        line-height: 22px;
        margin-top: 88px;
        margin-left: 44px;
        position: absolute;
        top: 50%;
        height: 22px;
        text-transform: uppercase; }
      .stream-wrapper .stream .pane.narration p {
        color: #8c7c80;
        font-family: "Source Sans Pro Black";
        font-size: 33px;
        line-height: 44px;
        margin-top: 200px;
        margin-left: 44px;
        width: 800px; }
      .stream-wrapper .stream .pane.interactive {
        margin-top: 176px;
        position: relative;
        height: calc(44px + 100%); }
        .stream-wrapper .stream .pane.interactive svg {
          position: relative;
          top: 44px; }
        .stream-wrapper .stream .pane.interactive h3.interlude-kicker {
          color: #00aeef;
          font-family: "Source Sans Pro Black";
          font-size: 11px;
          letter-spacing: 2px;
          position: absolute;
          top: 0;
          left: 44px;
          text-transform: uppercase; }
        .stream-wrapper .stream .pane.interactive h1.interlude-title {
          font-size: 44px;
          text-transform: uppercase;
          position: absolute;
          top: 22px;
          left: 44px; }
        .stream-wrapper .stream .pane.interactive h2.interlude-subtitle {
          color: #44464f;
          font-family: "Source Sans Pro Extra Light";
          font-size: 22px;
          text-transform: uppercase;
          position: absolute;
          top: 88px;
          left: 44px; }
        .stream-wrapper .stream .pane.interactive ul.controls {
          position: absolute;
          top: 110px;
          left: 44px;
          width: 264px;
          z-index: 2; }
          .stream-wrapper .stream .pane.interactive ul.controls li {
            background-color: #463e40;
            color: white;
            cursor: pointer;
            display: block;
            font-family: "Source Sans Pro Extra Light";
            font-size: 14.66667px;
            line-height: 44px;
            list-style: none;
            margin-top: 11px;
            text-align: center;
            text-transform: uppercase;
            height: 44px;
            transition: all 500ms; }
            .stream-wrapper .stream .pane.interactive ul.controls li:hover {
              background-color: #00aeef; }
            .stream-wrapper .stream .pane.interactive ul.controls li.active {
              background-color: #00aeef;
              font-family: "Source Sans Pro Black"; }
          .stream-wrapper .stream .pane.interactive ul.controls.clicked {
            height: auto; }
        .stream-wrapper .stream .pane.interactive .words-overlay {
          background-color: rgba(255, 255, 255, 0.75);
          cursor: pointer;
          overflow: hidden;
          position: fixed;
          top: 44px;
          left: 0;
          width: 100%;
          height: calc(100% - 44px);
          z-index: 3; }
          .stream-wrapper .stream .pane.interactive .words-overlay .words {
            margin-top: 44px;
            margin-left: 44px;
            width: 600px;
            height: auto; }
            .stream-wrapper .stream .pane.interactive .words-overlay .words h1 {
              font-size: 44px;
              margin-bottom: 44px;
              text-transform: uppercase; }
            .stream-wrapper .stream .pane.interactive .words-overlay .words p {
              color: #231f20;
              width: 100%; }
        .stream-wrapper .stream .pane.interactive svg path.county {
          stroke: #231f20;
          stroke-width: 0.25px; }
        .stream-wrapper .stream .pane.interactive svg path.state {
          fill: transparent;
          pointer-events: none;
          stroke: #231f20;
          stroke-width: 1px; }
        .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper {
          cursor: pointer; }
          .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper circle {
            fill: #463e40;
            transition: all 500ms; }
          .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper.active circle, .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper:hover circle {
            fill: #00aeef; }
          .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper.active.parent circle, .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper:hover.parent circle {
            fill: none; }
          .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper text {
            fill: white;
            font-family: "Source Sans Pro Extra Light";
            font-weight: 400;
            letter-spacing: 1px;
            text-anchor: middle;
            text-transform: uppercase; }
          .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper.parent circle {
            fill: none; }
          .stream-wrapper .stream .pane.interactive svg g.bubble-wrapper.parent circle:hover {
            fill: none; }
      .stream-wrapper .stream .pane.name-pane {
        height: 44px;
        width: 100%; }
        .stream-wrapper .stream .pane.name-pane h1 {
          color: #463e40;
          cursor: pointer;
          font-family: "Source Sans Pro Extra Light";
          font-size: 44px;
          margin-left: 44px;
          margin-right: 44px;
          text-transform: uppercase;
          height: 44px; }
        .stream-wrapper .stream .pane.name-pane ul {
          display: none;
          width: auto;
          height: 44px; }
          .stream-wrapper .stream .pane.name-pane ul li {
            color: #463e40;
            display: block;
            float: left;
            font-family: "Source Sans Pro Black";
            line-height: 44px;
            list-style: none;
            margin-left: 44px; }
        .stream-wrapper .stream .pane.name-pane.clickable-name .x {
          top: 22px; }
        .stream-wrapper .stream .pane.name-pane.clickable-name h1 {
          font-family: "Source Sans Pro Black"; }
        .stream-wrapper .stream .pane.name-pane.clickable-name.expanded-name-pane {
          overflow-y: scroll;
          height: auto; }
          .stream-wrapper .stream .pane.name-pane.clickable-name.expanded-name-pane .essay-content {
            margin-left: 44px;
            margin-top: 44px;
            opacity: 0;
            width: 600px;
            -webkit-transition: all 500ms;
            transition: all 500ms; }
            .stream-wrapper .stream .pane.name-pane.clickable-name.expanded-name-pane .essay-content.show {
              opacity: 1; }
        .stream-wrapper .stream .pane.name-pane:hover h1 {
          color: #8c7c80; }
        .stream-wrapper .stream .pane.name-pane:hover ul {
          display: block; }
  .stream-wrapper footer.stream-footer {
    background-color: #463e40;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 2;
    -webkit-transition: all 500ms;
    transition: all 500ms; }
    .stream-wrapper footer.stream-footer table {
      margin-top: 5.5px;
      width: 100%; }
      .stream-wrapper footer.stream-footer table tr.header-row {
        height: 11px; }
      .stream-wrapper footer.stream-footer table th {
        font-family: "Source Sans Pro Extra Light";
        font-size: 11px;
        height: 11px; }
      .stream-wrapper footer.stream-footer table td {
        font-family: "Source Sans Pro Black";
        font-size: 14.66667px;
        height: 14.66667px; }
      .stream-wrapper footer.stream-footer table th,
      .stream-wrapper footer.stream-footer table td {
        color: white;
        display: block;
        float: left;
        list-style: none;
        margin-left: 11px;
        text-align: left;
        width: 176px;
        text-transform: uppercase; }
      .stream-wrapper footer.stream-footer table th.mid-small,
      .stream-wrapper footer.stream-footer table td.mid-small {
        width: 132px; }
      .stream-wrapper footer.stream-footer table th.small,
      .stream-wrapper footer.stream-footer table td.small {
        width: 44px; }
      .stream-wrapper footer.stream-footer table th.large,
      .stream-wrapper footer.stream-footer table td.large {
        width: 528px; }
    .stream-wrapper footer.stream-footer.hidden {
      bottom: -44px; }

.inspector {
  position: absolute;
  width: 200px;
  height: 44px; }
  .inspector li {
    color: white;
    font-size: 13px;
    line-height: 22px;
    font-family: "Source Sans Pro Extra Light";
    font-weight: 400;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    height: 22px; }

table.key {
  position: absolute;
  top: 44px;
  right: 0;
  width: 222px;
  z-index: 2; }
  table.key tr {
    height: 22px; }
  table.key td.colorblock {
    padding-left: 0;
    width: 22px;
    height: 22px; }
  table.key td {
    color: white;
    font-family: "Source Sans Pro Extra Light";
    font-size: 11px;
    line-height: 22px;
    padding-left: 22px;
    text-transform: uppercase;
    width: 178px;
    height: 22px; }
